@import "_mixin";

@media screen and (max-width:1025px) {
    #top-img {
        background-image: url(../img/front-toaster_sp.webp);
        background-size: 65%;
        height:100svh;
    }

    #ScrollDown {
        right: 5vw;
    }


    #news {
        .wrapper {

            .decorationTitleR {
                right: -60%;
            }

            .decorationTitleL {
                right: 60%;
            }

            .newss {
                width: 55vw;
            }
        }
    }



}